.blog-entry {
	background: url(../../images/blog_entry_bkg_star_blue.gif) no-repeat left 10px;
}

html>body .blog-entry {
	background: url(../../images/blog_entry_bkg_star_blue.png) no-repeat left 10px;
}

#titleBackground {
	background: url(../../images/title_background_blue.gif) no-repeat;
}

html>body #titleBackground {
	background: url(../../images/title_background_blue.png) no-repeat;
}